body{
    margin: 0;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    background: #ffffff;
    color: #292929;

}
@media only screen and (max-width: 1100px) and (min-width: 440px);
.header-top {
    display: block;
}
.header-top {
    border-color: #252525;
    background-color: #252525;
    position: relative;
    z-index: 99;
    width: 100%;
    height: 43px;
    overflow: hidden;
}
*{
    box-sizing: border-box;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
@media (min-width: 768px)
.col-sm-8 {
    width: 66.66666667%;
}
@media (min-width: 768px)
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.header-top .news {
    background: #ae9775 none repeat scroll 0 0;
    color: #fff;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: 600;
    margin-left: -50px;
    padding: 0px 5px 7px 75px;
    position: relative;
}
.header-top p{
    margin-bottom:0px;
}
/*.col-sm-8 p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}*/
.marquee{
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    width: 650px;
    margin-left: 12.5%;
}
.marquee span{
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
    color: #fff;
    margin-top: 10px;
}
@keyframes marquee{
 0% {
    transform: translate(0, 0);
}
100% {
    transform: translate(-100%, 0);
}
}
/*@media (min-width: 768px)
.col-sm-4 {
    width: 33.33333333%;
}
@media (min-width: 768px)
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}*/
.float-right {
    float: right;
}
.ht-link ul {
    padding: 0px;
}
.header-top ul {
    margin-bottom: 0px;
}
dl, ol, ul {
    list-style-type: none;
    padding: 0px;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
.header-top .ht-link ul li {
    display: inline-block;
    color: #fff;
    border-left: 1px solid #ae9775;
    padding: 0px 18px;
}
.header-top .ht-link ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 42px;
}
a {
    color: #9b9b9b;
    text-decoration: none;
    transition: .25s;
}
a {
    background-color: transparent;
}
.header-top ul li i {
    font-size: 16px;
    color: #ae9775;
}
.fa {
    color: #0f4c75;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 50px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fas{
    font-size: 50px;
    color: #0f4c75;
}
/*.header {
    background: #252525;
}
.header {
    position: absolute;
    width: 100%;
    transform: translateZ(0);
    transition: all 0.5s;
    animation-direction: normal;
    animation-duration: 0.3s;
    z-index: 999;
    padding: 10px 0px;
}*/
/*.top-background{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)),url('http://cdn.home-designing.com/wp-content/uploads/2016/06/dark-and-sophisticated-interior-ideas.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}*/
.menu{
    padding: 10px;
    /*background-color: #252525;*/
}
.menu-ul li{
    display: inline-block;
    font-variant: small-caps;
    letter-spacing: 3px;
    padding: 7px 23px;
}
a{
    border-bottom: 1px solid transparent;
    color: white;
    text-decoration: none;
}
a:hover{
    border-bottom: 1px solid white;
}
.sticky{
    background: #0f4c75;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0px;
}
.sticky ul{
    padding: 0;
    margin: 5px;
}

.inner-banner {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('http://www.transfield.com.au/THfirst60years/images/milestones/momment16/16_p5_1.jpg') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    color: #fff;
    background-attachment: fixed;
    height: 50vh;
    position: relative;
}
section {
    display: block;
}
@media only screen and (max-width: 3000px) and (min-width: 1100px);
.container {
    max-width: 1200px;
    width: 1200px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
@media (min-width: 992px);
.col-md-12 {
    width: 100%;
}
/*.col-md-12 {
    float: left;
}
.col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}*/
@media (min-width: 992px);
.col-md-5{
    float: left;
}
.col-sm-5, .col-md-5, .col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.inner-banner-text {
    padding-top: 20vh;
}
.text-center {
    text-align: center;
}
h1, .h1{
    font-size: 32px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10psx;
}
.
.single-page-content {
    padding: 90px 90px;
    position: relative;
    display: block;
    overflow: hidden;
}
@media (min-width: 992px);
.col-md-offset-1 {
    margin-left: 8.33333333%;
}
@media (min-width: 992px);
.col-md-10 {
    width: 83.33333333%;
}
@media (min-width: 992px);
.col-md-10 {
    float: left;
}
.col-md-10 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.single-page-content .post-content img {
    margin-bottom: 15px;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
article {
    display: block;
}
p {
    margin: 0 0 10px;
}
b {
    font-weight: bold;
}
.single-page-content .post-content h4 {
    margin-top: 20px;
    color: #353434;
    font-weight: 600;
    font-size: 18px;
}
.single-page-content .post-content h3 {
    margin-top: 50px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 24px;
}
ul {
    list-style-type: none;
    padding: 0px;
}
ul {
    margin-top: 0;
    margin-bottom: 10px;
}
.comments-area {
    margin-top: 50px;
    background: #f7f7f7;
    padding: 25px;
}
.comment-reply-title {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 22px;
}
h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h1 .small, .h1 .small, h2 .small, .h2 .small, h3 .small, .h3 .small {
    font-size: 65%;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #777;
}
.comments-area label {
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
textarea {
    overflow: auto;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.footer{
    background: #0f4c75;
    text-align: center;
    padding: 20px;
    margin-top: 4050px;
    overflow: hidden;
}
.locations{
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    min-width: 27%;
    letter-spacing: 5px;
    font-variant: small-caps;
    padding: 20px;
}
.address{
    font-weight: lighter;
    padding: 20px;
    font-size: 16px;
}
.social-media-icons,i{
    color: white;
    font-size: 20px;
    padding: 10px;
}
.copyrights,c{
    background-color: #0f4c75;
    color: white;
    font-size: 16px;
    text-align: center;
    margin: 0.5px;
}


